:root {
  --primary-color: rgb(175, 190, 146);
  --primary-color-darker: rgb(133, 146, 106);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

tag {
  display: flex;
  font-size: 2rem;
  padding: 5px;
}

tag:hover {
  color: blue;
}
